body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    overflow: hidden;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

ul {
  list-style-type: none;
  padding-inline-start: unset;
}

li {
  cursor: pointer;
  text-overflow: ellipsis;
}

li:hover {
  font-weight: bold;
}

li:hover:after {
  display: inline-block;
  content: "\00d7";
  color: red;
}

p {
  margin: auto;
}

#victimsList {
  text-align: center;
}

#counter,
#date {
  text-align: center;
  margin-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
}

#victim {
  margin: auto;
}

.input {
  width: calc(100% - 10px);
}

.newVictim {
  font-weight: bold;
  background-color: red;
  color: aliceblue;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  border-radius: 4px;
  overflow:auto;
}

.button {
  width: 100%;
  margin: auto;
  border-radius: 5px;
  height: 40px;
  background-color: rgb(145, 238, 145, 1);
  border: none;
}

.button:hover {
  background-color: rgb(145, 238, 145, 0.7);
  cursor: pointer;
}

.button:active {
  background-color: rgb(145, 238, 145, 1);
}

#addOne


#addMany {
    background-color: aliceblue;
}

.editButtonsRow {
width: 100%;
}

#addManyInput {
    margin: 4px auto;
    min-height: 100px;
    border-radius: 4px;
    background-color: aliceblue;
    content: 'Write';
    
}

#hint {
    font-size: .7em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 250px;
  margin: 10px;
  background-color: beige;
  border-radius: 5px;
  padding-bottom: 5px;
}

.victim {
  font-weight: unset;
  color: black;
  animation: unset;
  text-decoration: line-through;
  background-color: rgba(0, 0, 0, 0.4);
}

.user {
  border: none;
  padding: 2px;
}

.width60 {
    width: 60%;
}

.width40 {
    width: 38%;
}

.line-through {
    text-decoration: line-through;
}